# Cleaning Data

In [2]:
import pandas as pd
import seaborn as sns

In [22]:
df = pd.read_csv('dataframe.csv')
df

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000.0,5000.00,2016-08-13T14:27:32,98.55,Uber,US,US,2.0,...,NaN,0.00,NaN,NaN,NaN,False,NaN,NaN,False,False
1,737265056,737265056,5000.0,5000.00,2016-10-11T05:05:54,74.51,AMC #191138,US,US,9.0,...,NaN,0.00,NaN,NaN,NaN,True,NaN,NaN,False,False
2,737265056,737265056,5000.0,5000.00,2016-11-08T09:18:39,7.47,Play Store,US,US,9.0,...,NaN,0.00,NaN,NaN,NaN,False,NaN,NaN,False,False
3,737265056,737265056,5000.0,5000.00,2016-12-10T02:14:50,7.47,Play Store,US,US,9.0,...,NaN,0.00,NaN,NaN,NaN,False,NaN,NaN,False,False
4,830329091,830329091,5000.0,5000.00,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,2.0,...,NaN,0.00,NaN,NaN,NaN,True,NaN,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786358,732852505,732852505,50000.0,48904.96,2016-12-22T18:44:12,119.92,Lyft,US,US,90.0,...,NaN,1095.04,NaN,NaN,NaN,False,NaN,NaN,False,False
786359,732852505,732852505,50000.0,48785.04,2016-12-25T16:20:34,18.89,hulu.com,US,US,9.0,...,NaN,1214.96,NaN,NaN,NaN,False,NaN,NaN,False,False
786360,732852505,732852505,50000.0,48766.15,2016-12-27T15:46:24,49.43,Lyft,US,US,2.0,...,NaN,1233.85,NaN,NaN,NaN,False,NaN,NaN,False,False
786361,732852505,732852505,50000.0,48716.72,2016-12-29T00:30:55,49.89,walmart.com,US,US,9.0,...,NaN,1283.28,NaN,NaN,NaN,False,NaN,NaN,False,False
786362,732852505,732852505,50000.0,48666.83,2016-12-30T20:10:29,72.18,Uber,US,US,5.0,...,NaN,1333.17,NaN,NaN,NaN,False,NaN,NaN,False,False

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  int64
 1   customerId                786363 non-null  int64
 2   creditLimit               786363 non-null  float64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  object
 5   transactionAmount         786363 non-null  float64
 6   merchantName              786363 non-null  object
 7   acqCountry                781801 non-null  object
 8   merchantCountryCode       785639 non-null  object
 9   posEntryMode              782309 non-null  float64
 10  posConditionCode          785954 non-null  float64
 11  merchantCategoryCode      786363 non-null  object
 12  currentExpDate            786363 non-null  object
 13  accountOpenDate           786363 non-null  object
 14  dateOfLastAddressChange   786363 non-null  object
 15  cardCVV                   786363 non-null  int64
 16  enteredCVV                786363 non-null  int64
 17  cardLast4Digits           786363 non-null  int64
 18  transactionType           785665 non-null  object
 19  echoBuffer                0 non-null       float64
 20  currentBalance            786363 non-null  float64
 21  merchantCity              0 non-null       float64
 22  merchantState             0 non-null       float64
 23  merchantZip               0 non-null       float64
 24  cardPresent               786363 non-null  bool
 25  posOnPremises             0 non-null       float64
 26  recurringAuthInd          0 non-null       float64
 27  expirationDateKeyInMatch  786363 non-null  bool
 28  isFraud                   786363 non-null  bool
dtypes: bool(3), float64(12), int64(5), object(9)
memory usage: 158.2+ MB

In [24]:
df[df.isFraud == True]

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
694,984504651,984504651,50000.0,8613.80,2016-09-08T16:14:40,165.26,Walgreens #860120,US,US,9.0,...,NaN,41386.20,NaN,NaN,NaN,False,NaN,NaN,False,True
971,114896048,114896048,15000.0,14113.96,2016-01-06T08:05:06,298.85,sears.com,US,US,9.0,...,NaN,886.04,NaN,NaN,NaN,False,NaN,NaN,False,True
1072,114896048,114896048,15000.0,13702.47,2016-03-07T02:40:54,406.89,Planet Fitness #136615,US,US,9.0,...,NaN,1297.53,NaN,NaN,NaN,False,NaN,NaN,False,True
1113,114896048,114896048,15000.0,8943.58,2016-04-09T15:14:04,439.31,oldnavy.com,US,US,9.0,...,NaN,6056.42,NaN,NaN,NaN,False,NaN,NaN,False,True
1321,114896048,114896048,15000.0,5223.03,2016-08-24T01:24:35,266.09,sears.com,US,US,9.0,...,NaN,9776.97,NaN,NaN,NaN,False,NaN,NaN,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785680,207667444,207667444,7500.0,5517.88,2016-02-16T06:14:11,385.41,staples.com,US,US,90.0,...,NaN,1982.12,NaN,NaN,NaN,False,NaN,NaN,False,True
785713,207667444,207667444,7500.0,764.48,2016-06-14T12:03:12,393.43,Pizza Hut #288835,US,US,9.0,...,NaN,6735.52,NaN,NaN,NaN,True,NaN,NaN,False,True
785888,428856030,428856030,250.0,61.94,2016-08-25T15:55:11,370.43,discount.com,US,US,9.0,...,NaN,188.06,NaN,NaN,NaN,False,NaN,NaN,False,True
786054,657364505,657364505,20000.0,20000.00,2016-08-21T14:41:30,28.09,Next Day Online Services,US,US,9.0,...,NaN,0.00,NaN,NaN,NaN,False,NaN,NaN,False,True
786112,899818521,899818521,2500.0,340.38,2016-11-05T06:33:11,119.51,apple.com,US,US,2.0,...,NaN,2159.62,NaN,NaN,NaN,False,NaN,NaN,False,True

In [25]:
# Dropping less required and repeated columns

df = df.drop(columns=[
    'echoBuffer', 'merchantCity', 'merchantState', 
    'merchantZip', 'posOnPremises', 'recurringAuthInd', 'merchantName'
])
df

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,...,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000.0,5000.00,2016-08-13T14:27:32,98.55,US,US,2.0,1.0,...,2015-03-14,2015-03-14,414,414,1803,PURCHASE,0.00,False,False,False
1,737265056,737265056,5000.0,5000.00,2016-10-11T05:05:54,74.51,US,US,9.0,1.0,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.00,True,False,False
2,737265056,737265056,5000.0,5000.00,2016-11-08T09:18:39,7.47,US,US,9.0,1.0,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.00,False,False,False
3,737265056,737265056,5000.0,5000.00,2016-12-10T02:14:50,7.47,US,US,9.0,1.0,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.00,False,False,False
4,830329091,830329091,5000.0,5000.00,2016-03-24T21:04:46,71.18,US,US,2.0,1.0,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.00,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786358,732852505,732852505,50000.0,48904.96,2016-12-22T18:44:12,119.92,US,US,90.0,1.0,...,2012-08-23,2012-08-23,936,936,3783,PURCHASE,1095.04,False,False,False
786359,732852505,732852505,50000.0,48785.04,2016-12-25T16:20:34,18.89,US,US,9.0,1.0,...,2012-08-23,2012-08-23,939,939,3388,PURCHASE,1214.96,False,False,False
786360,732852505,732852505,50000.0,48766.15,2016-12-27T15:46:24,49.43,US,US,2.0,1.0,...,2012-08-23,2012-08-23,936,936,3783,PURCHASE,1233.85,False,False,False
786361,732852505,732852505,50000.0,48716.72,2016-12-29T00:30:55,49.89,US,US,9.0,99.0,...,2012-08-23,2012-08-23,939,939,3388,PURCHASE,1283.28,False,False,False
786362,732852505,732852505,50000.0,48666.83,2016-12-30T20:10:29,72.18,US,US,5.0,1.0,...,2012-08-23,2012-08-23,939,939,3388,PURCHASE,1333.17,False,False,False

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  int64
 1   customerId                786363 non-null  int64
 2   creditLimit               786363 non-null  float64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  object
 5   transactionAmount         786363 non-null  float64
 6   acqCountry                781801 non-null  object
 7   merchantCountryCode       785639 non-null  object
 8   posEntryMode              782309 non-null  float64
 9   posConditionCode          785954 non-null  float64
 10  merchantCategoryCode      786363 non-null  object
 11  currentExpDate            786363 non-null  object
 12  accountOpenDate           786363 non-null  object
 13  dateOfLastAddressChange   786363 non-null  object
 14  cardCVV                   786363 non-null  int64
 15  enteredCVV                786363 non-null  int64
 16  cardLast4Digits           786363 non-null  int64
 17  transactionType           785665 non-null  object
 18  currentBalance            786363 non-null  float64
 19  cardPresent               786363 non-null  bool
 20  expirationDateKeyInMatch  786363 non-null  bool
 21  isFraud                   786363 non-null  bool
dtypes: bool(3), float64(6), int64(5), object(8)
memory usage: 116.2+ MB

In [27]:
# Dropping less required and repeated columns

df.drop(columns=[
    'customerId', 'transactionDateTime', 'merchantCountryCode', 
    'accountOpenDate', 'dateOfLastAddressChange', 'expirationDateKeyInMatch', 
    'cardLast4Digits', 'currentExpDate'
], inplace=True)

In [28]:
df.dropna(inplace=True)

In [29]:
df

,accountNumber,creditLimit,availableMoney,transactionAmount,acqCountry,posEntryMode,posConditionCode,merchantCategoryCode,cardCVV,enteredCVV,transactionType,currentBalance,cardPresent,isFraud
0,737265056,5000.0,5000.00,98.55,US,2.0,1.0,rideshare,414,414,PURCHASE,0.00,False,False
1,737265056,5000.0,5000.00,74.51,US,9.0,1.0,entertainment,486,486,PURCHASE,0.00,True,False
2,737265056,5000.0,5000.00,7.47,US,9.0,1.0,mobileapps,486,486,PURCHASE,0.00,False,False
3,737265056,5000.0,5000.00,7.47,US,9.0,1.0,mobileapps,486,486,PURCHASE,0.00,False,False
4,830329091,5000.0,5000.00,71.18,US,2.0,1.0,fastfood,885,885,PURCHASE,0.00,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786358,732852505,50000.0,48904.96,119.92,US,90.0,1.0,rideshare,936,936,PURCHASE,1095.04,False,False
786359,732852505,50000.0,48785.04,18.89,US,9.0,1.0,online_subscriptions,939,939,PURCHASE,1214.96,False,False
786360,732852505,50000.0,48766.15,49.43,US,2.0,1.0,rideshare,936,936,PURCHASE,1233.85,False,False
786361,732852505,50000.0,48716.72,49.89,US,9.0,99.0,online_retail,939,939,PURCHASE,1283.28,False,False
786362,732852505,50000.0,48666.83,72.18,US,5.0,1.0,rideshare,939,939,PURCHASE,1333.17,False,False

In [30]:
df.columns

Index(['accountNumber', 'creditLimit', 'availableMoney', 'transactionAmount',
       'acqCountry', 'posEntryMode', 'posConditionCode',
       'merchantCategoryCode', 'cardCVV', 'enteredCVV', 'transactionType',
       'currentBalance', 'cardPresent', 'isFraud'],
      dtype='object')

In [1]:
df.corr() # Driving sme insights

NameError: name 'df' is not defined

In [ ]:
sns.heatmap(df.corr())

In [32]:
df.to_csv('CleanedData.csv', index=False) # Writing clean data to a csv file